---
layout: page
title: Pictures
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Collage</title>
    <style>
        .collage {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .image {
            width: 200px;
            height: 200px;
            margin: 5px;
        }
    </style>
</head>
<body>
    <div class="collage">
        {% for image in site.static_files %}
            {% if image.path contains 'assets/ToriSite/' %}
                {% if image.extname == '.jpg' or image.extname == '.png' or image.extname =='.jpeg' or image.extname == '.JPG' or image.extname == '.PNG' or image.extname == '.HEIC' %}
                    <img src="{{ image.path }}" class="image">
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>
